.homeContainer {
  flex: 6;

  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px 150px;
    margin: 10px 10px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 10px;
    .widgets {
      display: flex;
      padding: 20px;
      gap: 30px;
    }

    .latestcomplaints {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      border-radius: 10px;
      padding: 20px;
      margin: 15px;
    }
  }
}
