.sidebar {
  flex: 1.3;
  border-right: 0.5px solid #fb8500;
  min-height: 100vh;
  background-color: white;

  .top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      font-size: 20px;
      font-weight: bold;
      color: #fb8500;
    }
  }

  hr {
    height: 0;
    border: 0.5px solid #fb8500;
  }

  .bottom {
    padding-left: 10px;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      .title {
        font-size: 11px;
        font-weight: bold;
        color: #999;
        margin-top: 15px;
        margin-bottom: 5px;
      }

      li {
        display: flex;
        align-items: center;
        padding: 5px;
        cursor: pointer;

        &:hover {
          background-color: #f6fff8;
        }

        .icon {
          font-size: 20px;
          color: #fb8500;
        }

        span {
          font-size: 16px;
          font-weight: 600;
          color: #999;
          margin-left: 10px;
        }
      }
    }
  }
}
